@import "../../_palette.scss";

nav.doc-nav {
	grid-column: 1 / 3;
	grid-row: 1;
	background-color: darken($knockout, 2%);
	padding: 24px;

	h2 {
		text-align: center;
		margin: 0 auto 12px;
		font-size: 18px;
	}

	h3 {
		font-size: 16px;
		font-weight: bold;
		margin: 12px 0;
	}
}